@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
html,body{height: 100%;}

body{background: url(../img/bg4.jpg) center top no-repeat #a4a4a4; background-size:cover; font-family: 'Open Sans Condensed',Arial, "Helvetica Neue", Helvetica, sans-serif; position: relative;}

.intro-cont{position: fixed; width: 100%; height: 100%; top: 0; right: 0; left: 0; bottom: 0;}
.intro{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); font-size: 40px; width: 100%;}
.intro img{display: block;margin: 0 auto 30px; height: 300px; width: auto; }

.branding{ font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; position: absolute;left: 0; bottom: 5px; width: 100%; font-size: 10px;}
.branding a{ color:#6189ac;}

.intro-text-type{display: inline-block;}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.img-cont{max-width: 430px; position: relative; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: center;  -ms-justify-content: center;  justify-content: center;
    list-style: none; margin: 0 auto;}
.img-pad{position: relative; height: 0;  padding-bottom: 160.714%;  overflow: hidden;}
.img-mar{margin: 0 60px 80px; width: 100%;}
.tilt{  position: absolute;top: 0;}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@media only screen and (min-width : 1045px) {

}

@media only screen and (max-width : 629px) {
  .intro{font-size: 33px;}
}
